/* import */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");

/* general */
* {
  padding: 1%;
  margin: auto;
  font-family: "Cinzel", serif;
  justify-content: center;
  text-align: center;
}
/* principal*/
body {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  background: url(./assets/fondo\ vader.jpg) no-repeat center center fixed;
  background-size: cover;
  /* poner en gris el background*/
}

header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

h1 {
  color: goldenrod;
  font-size: 2.3em;
}

nav {
  display: flex;
}

/* menues*/

button {
  background: none;
  border: 0px;
}
a {
  text-decoration: none;
  font-size: 1.6em;
  color: rgba(245, 245, 245, 0.63);
  font-weight: 600;
}

.menu {
  cursor: pointer;
  display: inline;
  text-transform: capitalize;
}
.menu:hover {
  background-color: rgb(106, 106, 243);
  border-radius: 1.5em;
}

/* textos */

p {
  color: white;
  text-align_: center;
  font-size: 1.2em;
}
figcaption {
  color: gold;
  font-size: 1em;
}

/*personajes*/

.anakin h2 {
  font-size: 3em;
  color: rgb(158, 158, 16);
  -webkit-text-stroke: 1px rgb(233, 233, 233);
}
.transform h2 {
  font-size: 3em;
  color: rgb(233, 229, 17);
  -webkit-text-stroke: 1px rgb(193, 196, 204);
}
.darthvader h2 {
  font-size: 3em;
  color: rgb(233, 229, 17);
  -webkit-text-stroke: 1px rgb(193, 196, 204);
}
h3 {
  font-size: 1.6em;
  color: rgb(192, 19, 19);
}
h4 {
  font-size: 1.3em;
  background: rgb(252, 226, 80);
  border-radius: 0.5rem;
  width: 10em;
}
/* imagenes*/

/* logos */

.logoprincipal {
  width: 60%;
  height: auto;
  align-items: center;
}
